<div class="side-nav">
    <div class="link-list">
        <a class="nav-link" href="#intro">Introduction</a><br>
        <!-- <a class="nav-link" href="#context">Context</a><br> -->
        <a class="nav-link" href="#definitions">Definitions</a><br>
        <a class="nav-link" href="#eqn_one">First equation</a><br>
        <a class="nav-link" href="#eqn_two">Second equation</a><br>
        <a class="nav-link" href="#solutions">Solutions</a><br>
        <a class="nav-link" href="#results">Results</a><br>
        <a class="nav-link" href="#graph">Interactive graph</a><br>
        <a class="nav-link" href="#research">Further research</a><br>
    </div>
</div>