/* You can add global styles to this file, and also import other style files */
@import '~katex/dist/katex.css';
::-webkit-scrollbar {
    width: 7px;
    height: 7px;
    }
    
    /* Track */
    ::-webkit-scrollbar-track {
    background: #ffffff;
    }
    
    /* Handle */
    ::-webkit-scrollbar-thumb {
    background: #888;
    /* border-radius: 4px; */
    }
    
    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
        background: #555;
    }
    
    html {
        scroll-behavior: smooth;
      }
@media (max-width: 800px) {
    body{
        font-size: small;
    }
    .side-nav{
        font-size: small
    }
    .graph_class{
        flex-direction: column;
    }
}
@media (max-width: 480px) {
    body{
        font-size: small;
    }
    .graph_class{
        flex-direction: column;
    }
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
