/* .img-car{
    height: 100%;
} */
img {
    max-width: 100%;
}

div.picsum-img-wrapper{
    padding: 1rem;
}

p.topic-text{
    margin-bottom: 0px;
}

a{
    color: #FF5349;
    font-size: large;
}

.column{
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

.top-banner{
    color: #FF5349;
    border-bottom: 5px solid #FF5349;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.topic-text{
    padding: 0.1rem;
    font-size: 1.6rem;
    text-align: center;
}
/* .body-container {
    display: flex;
    flex-direction: row;
    overflow-y: auto;
} */

.main{
    /* flex-shrink: 2; */
    /* flex-basis: 70%; */
    margin: 1rem;
    /* flex-grow: 1; */
    display: flex;
    flex-direction: column;
    flex: 1;
    padding-left: 15rem;
}

.equation_container{
    display: flex;
    flex-direction: row;
    /* padding: 1rem; */
    /* margin: 1rem; */
}

.eqn_one{
    margin: 1rem;
    flex-basis: 50%;
}

.eqn_one_pic{
    /* border-radius: .5rem; */
    border: 2px solid #FF5349;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
}

.eqn_two_pic{
    /* border-radius: .5rem; */
    border: 2px solid #FF5349;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
}

.eqn_two{
    margin:1rem;
    flex-basis: 50%;
}

.solution-section{
    display: flex;
    /* flex-direction: row; */
    /* flex-wrap: wrap; */
}

.matlab_script{
    padding: 1rem;
    font-family: monospace;
    flex-grow: 1;
    overflow-y: scroll;
    height: 60rem;
}

.p_s_five{
    display: flex;
}

.text_fifty{
    flex-basis: 50%;
}

.solution_graphs{
    display: flex;
    flex-direction: column;
    flex-grow: 2;
    /* justify-content: center; */
}

.graph_one{
    padding: 1rem;
}
.graph_two{
    padding: 1rem;
}

.inter_intro{
    padding-bottom: 1rem;
}

footer{
    background-color: #FF5349;
    color: white;
    margin-bottom: 0px;
}
p.src_list{
    margin: .5rem 1rem 0rem 1rem;
    padding: 1rem;
}

.src_heading{
    padding: 0.5rem;
}

.flex_container{
    display: flex;
}

.graph_class{
    display: flex;
    flex-direction: column;
    margin: 1rem;
}

.graph_class_content{
    display: flex;
    flex-direction: row;
    /* margin: 1rem; */
    padding-bottom: 1rem;
}

.sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 20vh;
    width: 0.5rem;
}

#graph{
    padding: 1rem;
}
#graph_second{
    padding: 1rem;
}

.sliders{
    display: flex;
    flex-direction: row;
    padding: 1rem;
    justify-content: space-around;
}
.slider_component>p{
    margin-bottom: 0.5rem;
}
.slider_component{
    display:flex;
    flex-direction:column;
    padding: 1rem;
    justify-content: center;
    align-content: center;
    align-items: center;
}



.graph_control_panel{
    border: 2px solid #FF5349;
    border-radius: 1rem;
    padding: 1rem;
    align-items: center;
}

.control_panel_heading{
    margin-top:-2rem;
    /* margin-left:-2rem; */
    /* margin-left:5px; */
    background-color: white;
    width: fit-content;
    padding-left: 0.8rem;
    padding-right: 0.8rem;
}
@keyframes fade-in {
    from {opacity: 0; transform: scale(.7,.7)}
    to {opacity: 1;}
}
.fade-in-element {
  animation: fade-in 1.4s;
}
.hidden {
    opacity: 0;
  }


@media (max-width: 800px) {
    .img-car{
        height: 50%;
    }
}
